.comment
  a(href=commentPath(comment)) id: #{comment.id}
  .text= comment.text
  p
    = "commentUrl: "
    a(href=commentUrl(comment))= commentUrl(comment)
  p
    = "commentPath: "
    a(href=commentPath(comment))= commentPath(comment)
